<main class="d-flex flex-column align-items-center w-100 flex-grow-1">
  <h1 class="bg-success-subtle p-2 text-center text-success w-100">MY PROFILE</h1>
  <section class="m-3 d-flex flex-column justify-content-evenly flex-wrap align-items-center" style="width: 380px;">
    <p id="name" class="card-title py-1 text-center w-100">Nombre: </p>
    <p id="email" class="card-title py-1 text-center w-100">Email: </p>
    <img id="avatar" class="w-100" alt="User Avatar"/>
  </section>
</main>
<script src="/scripts/profile.js"></script>
